include README.md
include LICENSE
include setup.py

exclude etc/was.*
exclude etc/*.devel.*
exclude etc/metadata*
exclude etc/secret_key
exclude etc/secretkey
exclude **/*.eslintrc.js

recursive-exclude vpsrequest/frontend/node_modules/* *
