Django==2.2.9
Unidecode==1.1.1
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
cryptography==2.8
defusedxml==0.6.0
django-rest-auth==0.9.5
django-webpack-loader==0.6.0
djangorestframework==3.11.0
djangosaml2==0.17.2
idna==2.8
mysqlclient==1.4.6
ndg-httpsclient==0.5.1
pkg-resources==0.0.0
pyOpenSSL==19.1.0
pyasn1==0.4.8
pycparser==2.19
pysaml2==5.0.0
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
six==1.14.0
sqlparse==0.3.0
python-memcached==1.59
urllib3==1.25.7
