#vpsreq-contentwrap {
  background-color: white;
}
#sidebar-grow {
  background-color: white;
  margin-bottom: 1px;
}
#vpsreq-nav {
  background-color: #416090;
}

#vpsreq-breadcrumb {
  background-color: #ecf0f5;
}

#vpsreq-breadcrumb > ol {
  background-color: #ecf0f5;
}
